<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />
	<f:section name="Main">

		<div class="form-item">
			<label class="form-label" for="queue-wizard-map-tile">Map tile</label>
			<f:form.select name="arguments[gameMapTile]" class="form-field" id="queue-wizard-map-tile">
				<f:for each="{game.tiles}" as="tile">
					<f:form.select.option value="{tile.uid}">#{tile.uid} ({tile.origin.x} | {tile.origin.y})</f:form.select.option>
				</f:for>
			</f:form.select>
		</div>

	</f:section>
</html>